/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
=============================================================
Clearfix
=============================================================
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  /* *zoom: 1; */
}

/*
=============================================================
Grid
=============================================================
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
=============================================================
Custom styles
=============================================================
*/

body {
  background-color: #F3F4F7;
  font-family: 'Martel', serif;
}

.container {
  margin: 0 auto;
  width: 1250px;
  padding-right: 30px;
  }

.logo {
  float: left;
  font-size: 45px;
  color: black;
  line-height: 30px;
  margin-left: 40px;
  padding: 40px 0 22px 0;
  letter-spacing:  .5px;
}

.pink {
  color: #FD7792;
}
  
.primary-nav {
  font-size: 20px;
  padding-top: 50px;
  text-align: right;
  letter-spacing:  .5px;
 }
  
h1 {
  margin-bottom: 22px;
  font-size: 36px;
  line-height: 44px;
} 
  
nav li {
  display: inline-block;
  margin: 0 10px;
}
  
/*
=============================================================
Main Section
=============================================================
*/

.hero {
  background-color: #577088;
  width: 100%;
  text-align: center;  
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: white;
  padding: 45px 0 18px;
}
.hero p {
  font-size: 100px;
  /* font-weight: 700; */
  color: white;
  width: 860px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-family: 'Anton', sans-serif;
}

/*
=============================================================
Buttons
=============================================================
*/
.btn {
  /* font-size: 40px; */
  border: none;
  padding: 20px;
  border-radius: 5px;  
  margin-right: 3px;
  margin-bottom: 50px;
    
}

.pink-btn { 
  background-color:#FD7792;
}

.btn a {
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  color: black;
}

.pink-btn a {
    color: white;
}


/*
=============================================================
Second Section
=============================================================
*/

.parent {
    margin: 32px 0;
}

.col {
    float: left;
    width: 30%;
    margin: 0 1.5%;
    margin-bottom: 50px;
}

img {
    width: 100%;
    border: 15px solid white;
}

h3 {
    text-align: center;
    font-size: 35px;
    padding: 25px 0;
    font-family: 'Martel', serif;
}

.text {
    width: 400px;
    margin: 15px auto;
    font-size: 20px;
    color: gray;
    text-align: center;
    line-height: 30px;
}

.section-btn {
    border: none;
    padding: 15px;
    border-radius: 5px;  
    margin-left: 160px;
}

.section-btn a {
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
}

/*
=============================================================
Main Section
=============================================================
*/

footer {
    background-color: #272727;
} 

.primary-footer {
    color: white;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}
  
.primary-footer small {
    float: left;
    font-weight: 400;
}

.nav {
  /* text-align: right; */
  float: right;
}